[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "noegletalR"]
	path = noegletalR
	url = https://github.com/frlars21/noegletalr
